{% macro displayCategoryList(category_list) %}
  {% for category in category_list%}
        
  <div>
     <a href="{{url_for('.category',id=category.id)}}"><p>{{category.name|upper}}</p></a>
  </div>

{% endfor %}
{% endmacro %}

{% macro displayPitches(pitch_list) %}
  {% for pitches in pitch_list %}
  <div class="col-md-12">
    <div class="well">
    <div class="row">
     <p>{{pitches.name|upper}}</p>

        <div class="col-md-10 col-sm-12">
            <h3>{{pitches.content}}</h3>
              <h4> <span><a href=" {{url_for('.view_pitch',id=pitches.id)}}">Read comments</a></span></h4>
              <a href=" {{url_for('.post_comment',id=pitches.id)}}"><h4>COMMENT</h4></a>
            </div>
            </div>
        <!-- </HISTORY> ..
     -->
      </div>
      {% endfor %}
    {% endmacro %}
    
    
    {% macro displaySpecificPitch(specific_pitch_list) %}
     {% for comment in specific_pitch_list %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <hr>
            <p>{{comment.opinion}} </p>
             <p style="text-align:right; color:#5c721b; font-size:10px;">{{comment.time_posted.strftime('%Y/%m/%d || %r') }}</p>
        </div>
      {% endfor %}
    {% endmacro %}